{% extends "base.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}
{% block body %}
<h1>All 9000 of the questions responded to in parliament</h1>
<img src="/static/lim_swee_say.gif" width="100%"/>
<h6>Video clip from MothershipSG's <a href="https://youtu.be/4eW5H7ZUG00" target="_blank" rel="noopener noreferrer">"Quick math by Minister Lim Swee Say"</a></h6>
<h5>By <a href="https://www.linkedin.com/in/jonathan-ng-7061a3162" target="_blank" rel="noopener noreferrer">Jonathan Ng</a> and <a href="https://kyletan.me" target="_blank" rel="noopener noreferrer">Kyle Tan</a></h5>
<p>Over the past 64 years, more than 9000 "oral answers" were delivered in parliament, and made available to the public as transcriptions. But what exactly have the ministers spoken about? How has this changed over time? We combine publicly available <a href="https://sprs.parl.gov.sg/search/home" target="_blank" rel="noopener noreferrer">parliament transcripts</a> with <a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation" target="_blank" rel="noopener noreferrer">machine learning</a> to find out.</p>
<p>We only had 24 hours to find, categorize, and find insights in thousands of transcripts, so we relied on a statistical model to suggest topic categories based on the 9000 reports. These were the resulting categories:</p>
<ul>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
</ul>
<p>We could now ask more interesting questions. For example, what were the most discussed topics in 2018? These were the top 5:</p>
<ol>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
  <li>Example</li>
</ol>
<p>Not only that, we were able to see how these topics trended over time. Click on the topics in the legend above the graph to try it out for yourself. <strong>What stories do you see?</strong></p>
<canvas id="longitudinalChart" width="50" height="50"></canvas>
<script>
fetch("/static/longitudinal.json")
  .then(response => response.json())
  .then((data) => {
    drawGraph(data, "longitudinalChart", "law");
  });

const drawGraph = (data, elemId, showSeries) => {
  let colors = [
    "#396ab1",
    "#da7c30",
    "#3e9651",
    "#cc2529",
    "#535154",
    "#6b4c9a",
    "#922428",
    "#948b3d"
    ];
  let canvas = document.getElementById(elemId);
  Chart.defaults.global.defaultFontFamily = "Neuton";
  Chart.defaults.global.defaultFontSize = 18;
  data.forEach((series, i) => {
    series["lineTension"] = 0.3;
    series["fill"] = false;
    series["borderColor"] = colors[i];
    series["pointBackgroundColor"] = colors[i];
    series["backgroundColor"] = "transparent";
    series["pointRadius"] = 5;
    series["pointHoverRadius"] = 15;
    if (showSeries !== series["label"]) {
      series["hidden"] = true;
    }
  });
  let dataContainer = {
    labels: ["1955", "1965", "1975", "1985", "1995", "2005", "2015"],
    datasets: data
  };
  let chartOptions = {
    legend: {
      display: true,
      position: 'top',
      labels: {
        boxWidth: 20,
        fontColor: 'black'
      }
    },
    layout: {
      padding: {
        left: 5,
        right: 5
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false
        }
      }]
    }
  };
  let lineChart = new Chart(canvas, {
    type: 'line',
    data: dataContainer,
    options: chartOptions
  });
};
</script>
{% endblock %}
